@font-face {
    font-family: 'fontello';
    src: url(https://huudinh.github.io/assets/fonts/fontello.woff2) format("woff2");
}

$basic : #f0f0f0;
$primary : #337ab7;
$success : #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

.newsMain {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 22px;

    &__boxLeft {
        width: 70%;
    }

    &__boxRight {
        width: 30%;
    }

    @media (max-width: 425px) {
        flex-direction: column;
        gap: 10px;

        &__boxLeft {
            width: 100%;
        }   
        &__boxRight {
            width: 100%;
        }
    }
}